<%= form_for @actor do |f| %>

<% if @actor.errors.any? %> 
<div id "error explanation"> 
	<h2>
		<%= pluralize(@actor.errors.count, "error") %> 
		prohibiited 
		this article from being saved 
	</h2>
	<ul>
		<% @actor.errors.full_messages.each do |msg| %> 
			<li><%= msg %></li> 
		<% end %> 
	</ul>
</div>
<% end %> 

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>